* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    background: url('../images/background.png') no-repeat center bottom;
    background-size: cover;
    height: 100vh;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}  

.flight-area {
    width: 100vw;
    height: 70vh;
    background-color: red;
    opacity: 0.7;
}

.infos {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.infosLeft { 
    display: flex;
    flex-direction: row;
    
}

.lifes, .targets {
    margin-right: 1rem;
    padding: 8px 16px;  
    border-radius: 16px;
    background-color: #212121;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.targets {
    line-height: 1.6rem;
}

.wave {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 2.7rem;
}

.shortcuts {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.shortcuts a { 
    margin-right: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.shortcuts a:hover { 
    opacity: 0.5;
}









#duck1 {
    position: absolute;
    top: 12px;
    width: 40px;
    height: 33px;
    animation: duck1 8.5s infinite; 
    background: url(../images/sprites.png) no-repeat 4px -150px;
}

@keyframes duck1 { 
    10% {
        left: 10%;
        top: 65%;
    }
    20% { 
        left: 25%;
        top: 26%;
    }
    30% { 
        left: 235px;
        top: 15px;
    }
    40% { 
        left: 440px;
        top: 18px;
    }
    50% { 
        left: 666px;
        top: 23px;
    }
    60% { 
        left: 778px;
        top: 25px;
    }
    70% { 
        left: 885px;
        top: 28px;
    }
    80% { 
        left: 998px;
        top: 3px;
    }
    90% { 
        left: 1700px;
        top: 19px;
    }
    100% { 
        left: 1700px;
        top: 19px;
    }
}

#duck2 { 
    position: absolute;
    top: 24px;
    width: 100px;
    animation: duck2 6.5s infinite;
}

@keyframes duck2 { 
    10% {
        left: 223px;
        top: 3px;
    }
    30% { 
        left: 334px;
        top: 6px;
    }
    36% { 
        left: 425px;
        top: 8px;
    }
    40% { 
        left: 530px;
        top: 8px;
    }
    56% { 
        left: 666px;
        top: 13px;
    }
    66% { 
        left: 778px;
        top: 15px;
    }
    78% { 
        left: 995px;
        top: 28px;
    }
    90% { 
        left: 1299px;
        top: 7px;
    }
}

#duck3 { 
    position: absolute;
    top: 34px;
    width: 100px;
    animation: duck3 6.5s infinite;
}

@keyframes duck3 { 
    10% {
        left: 23px;
        top: 53px;
    }
    30% { 
        left: 124px;
        top: 13px;
    }
    36% { 
        left: 255px;
        top: 75px;
    }
    40% { 
        left: 560px;
        top: 88px;
    }
    56% { 
        left: 566px;
        top: 23px;
    }
    66% { 
        left: 671px;
        top: 25px;
    }
    78% { 
        left: 875px;
        top: 28px;
    }
    90% { 
        left: 1489px;
        top: 2px;
    }
}

#duck4 { 
    position: absolute;
    top: 45px;
    width: 100px;
    animation: duck4 6.5s infinite;
}

@keyframes duck4 { 
    10% {
        left: 13px;
        top: 5px;
    }
    30% { 
        left: 121px;
        top: 30px;
    }
    36% { 
        left: 125px;
        top: 35px;
    }
    40% { 
        left: 180px;
        top: 38px;
    }
    56% { 
        left: 266px;
        top: 63px;
    }
    66% { 
        left: 477px;
        top: 85px;
    }
    78% { 
        left: 879px;
        top: 98px;
    }
    90% { 
        left: 1689px;
        top: 12px;
    }
}
